body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: whitesmoke;
  padding: 2%;
  padding-left: 70px;
}

.App {
  width: 1240px;
  margin: 2rem auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.form .field>label {
  display: block;
  margin: 0 0 .28571429rem 0;
  color: white;
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
}

#risk {
  color: red;
}

#title {
  margin-bottom: 40px;
}

.risk {
  color: red;
  border: 1px solid red;
  padding: 8px 0px;
  border-radius: 5px;
  width: 190px;
  text-align: center;
}

#bp {
  color: darkturquoise;
}

.bp {
  color: darkturquoise;
  border: 1px solid darkturquoise;
  padding: 8px 0px;
  border-radius: 5px;
  width: 190px;
  text-align: center;
}

#risk-block {
  margin-left: 20px;
}

#color {
  color: blanchedalmond;
}

#green {
  color: rgb(3, 179, 3);
  letter-spacing: 0.5px;
}

.ui.form .fields .field {
  margin-bottom: 10px;
}

.tickers {
  text-align: center;
  margin: 0 0 .625rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(9rem,1fr));
  grid-gap: .825rem;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.ticker {
  text-align: center;
  padding: 13px 0;
  margin: 0 0;
  color: white;
}

.results {
  max-height: 500px;
  overflow: scroll;
}

.results::-webkit-scrollbar { 
  display: none;
}

.titles {
  text-align: center;
  padding: 13px 0;
  margin: 0 0;
  color: white;
}

.plays {
  padding-bottom: 50px;
}

#red {
  color: red;
}

#delete {
  cursor: pointer;
  color: red;
}

.ui.fluid.dropdown {
  width: 150px;
}

.ui.checkbox label {
  color: white;
  margin-right: 50px;
}

.setups {
  margin-bottom: 10px;
}

.setups-inner {
  display: grid;
  grid-template-columns: 190px 1fr;
  grid-template-rows: 60px;
}

.ui.fluid.dropdown>.dropdown.icon {
  margin-top: 5px;
}

#italic {
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
}

.info {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px;
}

h3 {
  margin: 10px 0;
}

#user {
  font-weight: 100;
  color: red;
  font-style: italic;
  font-size: 18px;
}

#success-msg {
  text-align: center;
  color: white;
  width: 100%;
  background-color: rgb(179, 117, 3);
}

#profit {
  width: 100px;
}

.details {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 40px 50px;
  grid-column-gap: 5px;
  margin-right: 50px;
}

.details-heading {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.targets {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 40px 50px;
  grid-column-gap: 5px;
  margin-left: 50px;
}

.result-heading {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.backtest-chart {
  width: 1200px;
  margin-left: 20px;
  margin-bottom: 40px;
}

#testTicker {
  width: 70px;
  margin-right: 10px;
  margin-left: 10px;
}

#backtest-red {
  color: red;
}

#backtest-result {
  margin-top: 20px;
  margin-bottom: 40px;
}

#backtest-result h4 {
  text-decoration: underline;
}

.testone-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5px;
  margin-bottom: 30px;
}

#gap-stats {
  padding-bottom: 100px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 55px;
}

#targets {
  color: white;
  font-size: 16px;
  font-style: italic;
}

#gapStatList {
  cursor: pointer;
  margin-bottom: 20px;
}

.gapShow {
  color: bisque;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 55px;
}

.currentShow {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 55px;
}
