body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: whitesmoke;
  padding: 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.form .field>label {
  display: block;
  margin: 0 0 .28571429rem 0;
  color: white;
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
}

input {
  text-transform: uppercase;
}

#risk {
  color: red;
}

#color {
  color: blanchedalmond;
}

#green {
  color: rgb(3, 179, 3);
  letter-spacing: 0.5px;
}

.ui.form .fields .field {
  margin-bottom: 10px;
}

.tickers {
  margin: 0 0 .625rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(8rem,1fr));
  grid-gap: .825rem;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.ticker {
  text-align: center;
  padding: 13px 0;
  margin: 0 0;
  color: white;
}

.titles {
  text-align: center;
  padding: 13px 0;
  margin: 0 0;
  color: white;
}

.plays {
  padding-bottom: 50px;
}

#red {
  color: red;
}

#green {
  color: green;
}

#delete {
  cursor: pointer;
  color: red;
}

.ui.fluid.dropdown {
  width: 150px;
}

.ui.checkbox label {
  color: white;
  margin-right: 50px;
}

.setups {
  margin-bottom: 10px;
}

.setups-inner {
  display: grid;
  grid-template-columns: 190px 1fr;
  grid-template-rows: 60px;
}

.ui.fluid.dropdown>.dropdown.icon {
  margin-top: 5px;
}

#italic {
  font-style: italic;
  font-size: 16px;
  font-weight: 100;
}