:root {
  --clr--neutral-100: white;
  --clr--neutral-900: black,
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./css_fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url('./css_fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./css_fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

body {
  font-size: 1.3125rem;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1, h2, h3, h4, p {
  font-family: 'Montserrat';
  line-height: 1.3;
  text-align: center;
}

p {
  font-size: 17px;
}

h1, h2, h3, p {
  margin-bottom: 1em!important;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 4rem 0;
}

header {
  height: 42rem;
  color: white;
}

.header-grid {
  visibility: hidden;
  position: fixed;
  padding: 2rem 3rem 1rem 3rem;
  top: 3rem;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.header-grid h4 {
  padding-top: 7px;
}

.header-grid p {
  padding-bottom: 17px;
  font-size: 16px;
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  border-bottom: solid 1px lightgrey
}

.header-grid div div {
  color: rgb(4,119,251);
}

.header-grid div:first-of-type div h4 {
  border-top: solid 1px lightgrey;
  padding-top: 1.2rem;
  margin-top: 1.5rem;
}

.header-grid i {
  display: none;
}

.header-grid .x.icon.icon {
  position: relative;
  color: rgb(12, 54, 82);
  display: inline;
  cursor: pointer;
}

.bars.icon {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 2.5rem;
  color: rgb(4,119,251);
  cursor: pointer;
}

header h1 {
  padding-top: 9rem;
  font-size: 40px;
  margin-bottom: 10px!important;
}

header h4 {
  color: rgb(12, 54, 82);
  font-family: 'Montserrat-Medium';
  margin-bottom: 0px;
}

.header-image {
  background-image: url("../src/screenshots/singns.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: rgba(21, 73, 105, 0.356);
  background-blend-mode: multiply;
  box-shadow: 0 0 500px rgb(8,43,66) inset;
}

header .big.ui.button {
  background-color: white;
  color: rgb(12, 54, 82);
  font-family: 'Montserrat';
  margin-top: 20px;
  border-radius: 25px;
}

.bull-icon {
  background-image: url("../src/screenshots/bull.png");
  background-repeat: no-repeat;
  background-position: right 5% bottom -180px;
}

.line-chart-bg {
  background-image: url("../src/screenshots/line-extra-faint.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: left -300px top -100px;
}

.section-3 img {
  padding: 3rem 0;
}

@media (min-width: 40em) {
  header, section {
    padding: 6rem 0;
  }

  header h1 {
    padding-top: 7rem;
  }

  .bars.icon {
    visibility: hidden;
  }

  .header-grid .x.icon.icon {
    display: none;
  }

  .header-grid p {
    padding: 0px 1rem 0 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
    border-bottom: none;
    font-size: 13px;
    min-height: 2rem
  }

  .header-grid div:first-of-type div h4 {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }

  .header-grid h4 {
    padding-top: 0px;
  }

  .header-grid {
    visibility: visible!important;
    position: absolute;
    display: grid;
    align-items: center;
    top: 29rem;
    grid-template-columns: minmax(100px, 250px) minmax(100px, 250px) minmax(100px, 250px) minmax(100px, 250px) minmax(100px, 250px);
    grid-template-rows: 150px;
    border: 2px solid white;
    background-color: white;
    color: rgba(12, 54, 82, 0.55);
    border-radius: 7px;
    box-shadow: 0 15px 30px 1px rgba(8, 43, 66, 0.25);
    padding: 0rem 0 0.6rem 0;
  }

  .border-right {
    border-right: 1px solid lightgrey;
    height: 35%;
  }

  .no-border-right {
    height: 35%;
  }

  .header-grid div {
    transition: transform .3s;
    cursor: pointer;
  }

  .header-grid div i {
    color: white;
    display: inline;
  }

  .header-grid div div:hover {
    position: relative;
    padding-top: 30%;
    align-items: center;
    top: -4.1rem;
    transform: scale(1.1);
    background-color: rgb(4,119,251);
    color: white;
    height: 12rem;
    border-radius: 5px;
  }

  .section-3 img {
    padding: 2rem 0;
  }

  #im-2 {
    padding: 1.5%;
  }
}

.container {
  margin-inline: auto; 
  width: min(90%, 60rem);
}

.container-wide {
  margin-inline: auto; 
  width: min(90%, 85rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.container--narrow {
  max-width: 60rem;
  position: relative;
}

.bg-light {
  background-color: white;
}

.bg-ivory {
  background-color: rgb(243,245,248);
}

.bg-primary {
  background-color: rgb(8,43,66);
}

.bg-secondary {
  background-color: rgba(6, 34, 53, 0.986);
}

.bg-dark {
  background-color: rgb(4,19,41);
}

.red-bold {
  color: rgba(233, 133, 93, 0.719);
  font-family: 'Montserrat-bold';
}

.big.ui.button {
  background-color: rgb(68,105,129);
  padding: 1.4rem 3rem;
  color: white;
  font-family: 'Montserrat-bold';
  letter-spacing: 1px;
}

.section-1 img {
  max-width: 80%;
  margin: 60px auto 0;
}

.section-1 p {
  margin-top: 55px;
}

.big.ui.button:hover {
  background-color: rgb(153,232,231);
}

.section-4 {
  color: white;
  height: 1470px;
}

.section-4 .main {
  display: grid;
  grid-template-columns: minmax(150px, 500px);
  grid-gap: 5% 7%;
  min-height: 400px;
}

.white-border {
  position: relative;
  border: 4px solid rgba(19, 66, 100, 0.74);
  padding: 60px 5% 40px;
  text-align: center;
}

.white-border:hover {
  border-color: white; 
}

.section-4 .sec-1 h2 {
  text-align: left;
  padding-top: 20px;
}

.section-4 i {
  font-size: 3rem;
  position: absolute;
  top: -1.5rem; 
  left: 3rem;
  background-color: green;
  border-radius: 5px;
}

.verticle-centre {
  align-items: center;
}

.section-5 .ui.button {
  padding: 15px 40px;
  font-size: 16px;
  font-family: 'Montserrat';
  margin-top: 20px;
  border-radius: 25px;
}

@media (min-width: 40em) {
  .section-4 .main {
    display: grid;
    grid-template-columns: minmax(150px, 500px) minmax(150px, 500px) minmax(150px, 500px);
    grid-template-rows: auto;
    grid-gap: 8% 4%;
    min-height: 500px;
  }

  .section-4 {
    color: white;
    height: auto;
  }

  .section-4 p {
    font-size: 14px;
    color: rgb(27, 90, 136);
  }

  .section-4 h4 {
    margin-bottom: 2rem;
  }

  .white-border:hover p {
    color: white; 
  }
}

@media (min-width: 40em) {
  .section-1 h1{
    padding-top: 90px;
  }
}

.signin-box {
  border-radius: 5px;
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
  max-height: 600px!important;
  padding: 10px;
  text-align: center;
  z-index: 2000;
  color: green;
}

.signin-box img {
  margin: 2rem 0 3rem 0;
  margin-inline: auto;
  max-width: 100%;
}

.ui.attached.tabular.menu a {
  font-family: 'Montserrat';
  color: white;
  background-color: rgba(0, 0, 0, 0.253);
}

#signup-form {
  width: 90%;
  margin: auto;
}

Button#submit.ui.button {
  margin: 10px 0 10px 0;
  font-family: 'Montserrat';
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top) input {
  margin-bottom: 2rem;
  border-radius: 15px;
  font-size: 16px;
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top) {
  border-top: none;
  max-height: 460px;
  overflow: scroll;
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top)::-webkit-scrollbar {
  display: none;
}

/* SIGN IN BOX DESKTOP SCREEN */
@media (min-width: 40em) {
  .signin-box {
    position: relative;
    top: 0;
    right: 0;
    height: 1000px;
    padding: 0 18%;
  }

  .ui.attached:not(.message)+.ui.attached.segment:not(.top) {
    max-height: 610px;
    padding: 3rem 0;
  }

  .signin {
    top: 4rem;
    position: fixed;
    z-index: 2000;
  }

  .signin .container {
    max-width: 30rem;
  }

  .ui.form {
    position: relative;
    max-width: 80%;
    margin-inline: auto;
    top: -1rem;
  }

  .signin-box h2 {
    margin-bottom: 0;
  }
}