:root {
  --clr--neutral-100: white;
  --clr--neutral-900: black,
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./css_fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url('./css_fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./css_fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-light';
  src: url('./css_fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-thin';
  src: url('./css_fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-size: 1.3125rem;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat';
  line-height: 1.3;
  text-align: center;
}

p {
  font-size: 17px;
}

h1, h2, h3, p {
  margin-bottom: 1em!important;
}

img {
  display: block;
  max-width: 100%;
}

a {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.message-alert {
  margin: 1rem 1rem;
}

header,
section {
  padding: 4rem 0;
}

header {
  height: 42rem;
  color: white;
}

.header-grid {
  visibility: hidden;
  position: fixed;
  padding: 2rem 3rem 1rem 3rem;
  top: 3rem;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.header-grid h4 {
  padding-top: 7px;
}

.header-grid p {
  padding-bottom: 17px;
  font-size: 16px;
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  border-bottom: solid 1px lightgrey
}

.header-grid div div {
  color: rgb(4,119,251);
}

.header-grid div:first-of-type div h4 {
  border-top: solid 1px lightgrey;
  padding-top: 1.2rem;
  margin-top: 1.5rem;
}

.header-grid i {
  display: none;
}

.header-grid .x.icon.icon {
  position: relative;
  color: rgb(12, 54, 82);
  display: inline;
  cursor: pointer;
}

header h1 {
  padding-top: 9rem;
  font-size: 40px;
  margin-bottom: 10px!important;
}

header h4 {
  color: rgb(12, 54, 82);
  font-family: 'Montserrat-Medium';
  margin-bottom: 0px;
}

.header-image {
  background-image: url("../src/screenshots/singns.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: rgba(21, 73, 105, 0.356);
  background-blend-mode: multiply;
  box-shadow: 0 0 500px rgb(8,43,66) inset;
}

header .big.ui.button {
  background-color: white;
  color: rgb(12, 54, 82);
  font-family: 'Montserrat';
  margin-top: 20px;
  border-radius: 25px;
}

.bull-icon {
  background-image: url("../src/screenshots/bull.png");
  background-repeat: no-repeat;
  background-position: right 5% bottom -180px;
}

.line-chart-bg {
  background-image: url("../src/screenshots/line-extra-faint.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: left -300px top -100px;
}

.section-3 img {
  padding: 3rem 0;
}

@media (min-width: 40em) {
  header, section {
    padding: 6rem 0;
  }

  header h1 {
    padding-top: 7rem;
  }

  .header-grid .x.icon.icon {
    display: none;
  }

  .header-grid p {
    padding: 0px 1rem 0 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
    border-bottom: none;
    font-size: 13px;
    min-height: 2rem
  }

  .header-grid div:first-of-type div h4 {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }

  .header-grid h4 {
    padding-top: 0px;
  }

  .header-grid {
    visibility: visible!important;
    position: absolute;
    display: grid;
    align-items: center;
    top: 29rem;
    grid-template-columns: minmax(100px, 250px) minmax(100px, 250px) minmax(100px, 250px) minmax(100px, 250px) minmax(100px, 250px);
    grid-template-rows: 150px;
    border: 2px solid white;
    background-color: white;
    color: rgba(12, 54, 82, 0.55);
    border-radius: 7px;
    box-shadow: 0 15px 30px 1px rgba(8, 43, 66, 0.25);
    padding: 0rem 0 0.6rem 0;
  }

  .border-right {
    border-right: 1px solid lightgrey;
    height: 35%;
  }

  .no-border-right {
    height: 35%;
  }

  .header-grid div {
    transition: transform .3s;
    cursor: pointer;
  }

  .header-grid div i {
    color: white;
    display: inline;
  }

  .header-grid div div:hover {
    position: relative;
    padding-top: 30%;
    align-items: center;
    top: -4.1rem;
    transform: scale(1.1);
    background-color: rgb(4,119,251);
    color: white;
    height: 12rem;
    border-radius: 5px;
  }

  .header-grid div div:hover > a {
    color: white;
  }

  .section-3 img {
    padding: 2rem 0;
  }
}

.container {
  margin-inline: auto; 
  width: min(90%, 60rem);
}

.container-wide {
  margin-inline: auto; 
  width: min(100%, 85rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 1em;
  }

  .container-wide {
    width: min(90%, 85rem);
  }
}

.container--narrow {
  max-width: 60rem;
  position: relative;
}

.bg-light {
  background-color: white;
}

.bg-ivory {
  background-color: rgb(243,245,248);
}

.bg-primary {
  background-color: rgb(8,43,66);
}

.bg-secondary {
  background-color: rgba(6, 34, 53, 0.986);
}

.bg-dark {
  background-color: rgb(4,19,41);
}

.bg-verydark {
  background-color: rgb(1, 4, 10);
}

.red-bold {
  color: rgba(233, 133, 93, 0.719);
  font-family: 'Montserrat';
}

.green {
  color: green;
  font-family: 'Montserrat';
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.light-blue {
  color: rgb(103,114,229);
}

.big.ui.button {
  background-color: rgb(68,105,129);
  padding: 1.4rem 3rem;
  color: white;
  font-family: 'Montserrat-bold';
  letter-spacing: 1px;
}

.section-1 img {
  max-width: 80%;
  margin: 60px auto 0;
}

.section-1 p {
  margin-top: 55px;
}

.oval-button-white, .section-5 .big.ui.button {
  background-color: white;
  padding: 1.4rem 3rem;
  color: rgb(12, 54, 82);
  font-family: 'Montserrat';
  border-radius: 25px;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
}

.big.ui.button:hover {
  background-color: rgb(153,232,231);
}

.section-4 {
  color: white;
  height: 1470px;
}

.section-4 .main {
  display: grid;
  grid-template-columns: minmax(150px, 500px);
  grid-gap: 5% 7%;
  min-height: 400px;
}

.white-border {
  position: relative;
  border: 1px solid rgba(19, 66, 100, 0.74);
  padding: 60px 5% 40px;
  text-align: center;
}

.white-border:hover {
  border-color: white; 
}

.section-4 .sec-1 h2 {
  text-align: left;
  padding-top: 20px;
}

.section-4 i {
  font-size: 3rem;
  position: absolute;
  top: -1.5rem; 
  left: 3rem;
  background-color: green;
  border-radius: 5px;
}

.verticle-centre {
  align-items: center;
}

@media (min-width: 40em) {
  .section-4 .main {
    display: grid;
    grid-template-columns: minmax(150px, 500px) minmax(150px, 500px) minmax(150px, 500px);
    grid-template-rows: auto;
    grid-gap: 8% 4%;
    min-height: 500px;
  }

  .section-4 {
    color: white;
    height: auto;
  }

  .section-4 p {
    font-size: 14px;
    color: rgb(27, 90, 136);
  }

  .section-4 h4 {
    margin-bottom: 2rem;
  }

  .white-border:hover p {
    color: white; 
  }
}

.section-5 h1 {
  font-family: 'Montserrat';
}

.section-5 {
  margin-bottom: 4rem;
}

#section-5 img {
  display: none;
}

.section-5 .stats-gif {
  background-image: url("https://media.giphy.com/media/GWeYePrF8gWdGKBFyz/giphy.gif");
  position: relative;
  height: 480px;
  width: 270px;
  top: 2rem;
  margin-inline: auto;
  border-radius: 5px;
}

@media (min-width: 40em) {
  .section-1 h1{
    padding-top: 90px;
  }

  .section-5 .ui.button {
    margin: 0 1rem 1rem 1rem;
  }

  #section-5 img {
    display: inline;
    position: relative;
    max-width: 50rem;
    left: -10rem;
    top: -1rem;
    opacity: 0.8;
  }

  .section-5 .stats-gif {
    background-image: url("https://media.giphy.com/media/GWeYePrF8gWdGKBFyz/giphy.gif");
    position: relative;
    height: 480px;
    width: 270px;
    top: 12rem;
    left: -25rem;
  }
}

.signin-box {
  border-radius: 5px;
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
  max-height: 600px!important;
  padding: 10px;
  text-align: center;
  transition: opacity 0.1s linear;
}

.signin-box img {
  margin: 2rem 0 3rem 0;
  margin-inline: auto;
  max-width: 100%;
}

.ui.attached.tabular.menu a {
  font-family: 'Montserrat';
  color: white;
  background-color: rgba(0, 0, 0, 0.253);
}

.ui.attached.tabular.menu a:hover {
  background-color: rgb(153,232,231);
  color: white;
}

.panes .ui.attached.tabular.menu a:hover {
  background-color: rgb(1, 4, 10);
}

#signup-form {
  width: 90%;
  margin: auto;
}

Button#submit.ui.button {
  margin: 10px 0 10px 0;
  font-family: 'Montserrat';
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top) input {
  margin-bottom: 2rem;
  border-radius: 15px;
  font-size: 16px;
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top) {
  border-top: none;
  max-height: 460px;
  overflow: scroll;
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top)::-webkit-scrollbar {
  display: none;
}

.signin-box i {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 20px;
  color: rgba(19, 66, 100, 0.74);
  cursor: pointer;
}

.signin-box i:hover {
  color: rgb(153,232,231);
}

/* SIGN IN BOX DESKTOP SCREEN */
@media (min-width: 40em) {
  .signin-box {
    position: relative;
    top: 0;
    right: 0;
    height: 1000px;
    padding: 0 18%;
  }

  .ui.attached:not(.message)+.ui.attached.segment:not(.top) {
    max-height: 610px;
    padding: 3rem 0;
  }

  .signin {
    top: 4rem;
    position: fixed;
    z-index: 2000;
  }

  .signin .container {
    max-width: 30rem;
  }

  .ui.form {
    position: relative;
    max-width: 80%;
    margin-inline: auto;
    top: -1rem;
  }

  .signin-box h2 {
    margin-bottom: 0;
  }
}

.section-6 p, .section-6 h4 {
  color: lightgrey;
  text-align: left;
  line-height: 2.5;
}

.section-6 h4 {
  font-family: "Montserrat-bold";
}

.section-6 p {
  font-size: 12px;
}

#copyright {
  color: grey;
}

#copyright i {
  font-size: 38px;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.section-6 #logo {
  position: relative;
  top: -2rem;
  left: -3.5rem;
  max-width: 25rem;
}

@media (min-width: 40em) {
  .section-6 #logo {
    max-width: 35rem;
  }
}

/* PANES ROUTE */

.tab {
  padding: 0.1rem;
}

.tab h2 {
  color: lightgrey;
}

.tab h4 {
  color: darksalmon;
}

.panes {
  padding-top: 3rem;
  position: relative;
}

.panes .ui.attached:not(.message)+.ui.attached.segment:not(.top) {
  overflow: visible;
  border: none;
}

.ui.tabular.menu::-webkit-scrollbar {
  display: none;
}

.panes img {
  margin-top: -1rem;
  margin-left: -1.5rem;
  width: 55%;
}

.ui.button {
  margin: 0;
  background-color: rgb(68,105,129);
  color: white;
  font-family: 'Montserrat-bold';
  letter-spacing: 1px;
}

.breakdown h4 {
  margin-top: 1em;
}

.breakdown {
  padding: 0rem 0rem;
}

.breakdown h2 {
  margin-top: 2rem;
}

canvas {
  margin: 1rem 0;
}

#graphs {
  padding-top: 2rem;
}

.chartSmall {
  height: 15rem;
  margin: 0rem 0;
}

.panes .ui.tabular.menu .active.item {
  background-color: rgb(1, 4, 10);
  color: rgb(4,119,251);;
  border: none;
  font-size: 18px;
  font-style: italic;
  font-family: "Montserrat-bold";
}

.panes .ui.tabular.menu {
  color: white;
  border-bottom: none;
  overflow: scroll;
}

.panes .ui.attached.tabular.menu a {
  background-color: rgba(0, 0, 0, 0);
}

.tab h4 {
  margin-top: 2rem;
}

.tab .foreground {
  border-radius: 10px;
  padding: 2rem 0.5rem;
  margin-bottom: 1rem;
}

.summary-box {
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 1rem;
  color: lightgrey;
  padding: 1rem;
}

.four-column-grid {
  position: relative;
  top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) minmax(150px, 1fr));
  grid-gap: 1.5rem 1rem;
  margin-bottom: 1rem;
}

.four-column-grid div {
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(4, 119, 251, 0.28);
}

@media (min-width: 40em) {
  .summary-box {
    min-height: 280px;
  }

  .tab .foreground {
    padding: 2rem;
  }

  .chartSmall {
    margin: 1rem 0;
  }

  canvas {
    margin-bottom: 3rem;
  }

  .panes .ui.attached:not(.message)+.ui.attached.segment:not(.top) {
    overflow: visible;
    border: none;
    padding: 0;
  }

  .panes .ui.tabular.menu {
    width: 550px;
    position: relative;
    margin-inline: auto;
  }

  .panes img {
    position: relative;
    top: -1rem;
    width: 55%;
  }

  .four-column-grid {
    top: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem 3%;
    height: 20px;
  }

  .four-column-grid div {
    min-height: 10rem;
    justify-content: center;
  }

  .chartSmall {
    height: 20rem;
    margin: 2rem 0;
  }


  input[type='file'] {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
}

.ui.segment {
  padding: 0;
}

.panes .signin-box {
  border-radius: 0px;
  position: absolute;
  top: 1rem;
  width: 100%;
  padding-top: 3rem;
  text-align: center;
  color: black;
  opacity: 1;
  transition: opacity 0.2s linear;
  background-color: lightgrey;
  z-index: 10000;
}

.panes .ui.attached:not(.message)+.ui.attached.segment:not(.top) input {
  border-radius: 0;
}

/* EXCEL  */
#file-uplaod-button {
  display: none;
}

.excel {
  padding: 0 0 0rem 0.5rem;
}

.excel h4 {
  display: inline;
  margin-right: 1rem;
  cursor: pointer;
  border-left: 1px solid rgba(255, 166, 0, 0.63);
  padding-left: 0.3rem;
  color: rgb(117, 168, 202);
  font-size: 13px;
}

@media (min-width: 40em) {
  .excel h4 {
    margin-right: 2rem;
    cursor: pointer;
    padding-left: 0.5rem;
    font-size: 15px;
  }
  
  .excel {
    position: relative;
    text-align: right;
    right: 6rem;
    /* top: 1.3rem; */
  }
}

/* Calc Tab */

.calc h2 {
  color: rgb(8,43,66);
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.plays-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem 1rem;
  overflow: scroll;
}

.plays-grid::-webkit-scrollbar {
  display: none;
}

.plays-grid p {
  font-size: 14px;
  color: grey;
}

.plays-grid h4 {
  margin-top: 0rem;
  color: grey;
}

/* Strategies tab */

.strats-form div div input {
  margin-bottom: 1rem!important;
}

.strats-tab {
  color: rgb(8,43,66);
  padding-bottom: 2rem;
}

.strats-tab h2, 
.strats-tab h4, 
.carousel h4,
.carousel h2 {
  color: rgb(8,43,66);
}

.pre-reqs p {
  font-size: 14px;
  text-align: left;
}

.pre-reqs {
  margin-top: 0.5rem;
  border-top: 1px solid lightgrey;
  padding-top: 1rem;
}

.ui.button.reqs {
  font-family: 'Montserrat';
  margin-right: 1rem;
  font-size: 12px;
  padding: 0.5rem 1rem;
}

.carousel {
  padding: 2rem 1rem 2rem 1rem;
}

#strats-alert {
  color: green;
}

.ui.circular.button {
  background-color: rgba(68, 105, 129, 0.541);
}

/* GAP STATS TAB */

.gap-stats Form {
  width: 100%;
  text-align: center;
}

#testTicker {
  width: 70%;
  margin-bottom: 1rem;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.gap-stats h4 {
  margin: 1rem;
  display: inline;
}

.gap-stats.two-column-grid h4, .gap-show-stats.two-column-grid h4 {
  margin: 0.2rem 0.5rem;
}

.gap-show h4 {
  color: rgba(211, 211, 211, 0.753);
}

#gap-show-arrow {
  margin-top: -0.1rem;
  color: rgb(4,119,251);
  float: right;
}

.gap-stats .foreground h3 {
  color: white;
  border-bottom: 1px solid rgba(211, 211, 211, 0.1);
  padding-bottom: 1rem;
}

#gapStatList {
  cursor: pointer;
  text-align: left;
  line-height: 2;
}

.gap-stats-heading {
  padding: 2rem;
}

.gap-stats-heading h3 {
  display: inline;
  color: white;
  font-family: "Montserrat-bold";
}

.gap-stats-heading h1 {
  display: inline;
  color: rgb(4,119,251);
  font-size: 38px;
  font-style: italic;
  font-family: "Montserrat";
}

.deco-line {
  width: 60%;
  border: 1px solid rgb(4,119,251);
  height: 1px;
  display: inline-block;
}

#gaptable { 
  font-family: "Montserrat";
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#gaptable th, #gaptable td { 
  color: rgb(4,119,251);
  min-width: 150px;
}

#gaptable td { 
  padding-top: 2rem;
}

#gaptable th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  border-bottom: 1px solid rgba(211, 211, 211, 0.1);;
}

.foreground.bg-dark.table {
  overflow-x: scroll;
}

#gaplist {
  margin-top: 9rem;
}

@media (min-width: 40em) {
  #testTicker {
    width: 30%;
    margin: 1rem;
    border-radius: 10px;
  }

  #loadChart {
    margin: 1rem;
  }
}

.footer {
  padding: 3rem;
  color: lightgrey;
}

.footer p {
  font-size: 13px;
}

/* PANNEL */

.bars.icon {
  position: absolute;
  bottom: -4.5rem;
  right: 2rem;
  color: rgb(4,119,251);
  z-index: 1;
  font-size: 2.5rem;
  cursor: pointer;
}

.pannel {
  font-family: 'Montserrat';
  color: lightgrey;
  position: relative;
  top: 0;
  width: 100%;
  background-color: rgb(1, 4, 10);
  padding: 0rem;
}

.pannel p {
  text-align: left;
  font-size: 12px;
  margin: 0 1rem;
}

.pannel-up p {
  text-align: left;
  font-size: 12px;
  margin: 0 1rem;
}

.pannel-up {
  position: relative;
  background-color: rgb(1, 4, 10);
  padding: 0rem;
  height: 0px;
  transition: all .5s ease-in-out;
}

.pannel-down {
  padding: 1rem 0rem;
  transition: all .3s ease-in-out;
  height: 90px;
}

#risk-form {
  display: inline-flex;
}

#risk-form button {
  background: transparent;
  color: lightgrey;
  font-family: 'Montserrat';
  color: rgb(85, 161, 248);
  margin-top: -2rem;
}

#risk-form input {
  position: relative;
  background: transparent;
  color: lightgrey;
  font-family: 'Montserrat';
  /* top: -0.5rem; */
  max-height: 50%;
  border-radius: 20px;
  width: 5rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border: 1px solid rgba(4, 119, 251, 0.678);
}

#risk-form input:hover {
  background-color: rgb(14, 34, 75);
}

.pannel-inner.split {
  flex-direction: row;
  overflow-x: scroll;
}

@media (min-width: 40em) {
  .pannel-down {
    padding: 3rem;
    height: 130px;
  }

  .pannel p {
    text-align: left;
    font-size: 14px;
    margin: 0 1rem;
  }

  .pannel-up p {
    font-size: 14px;
  }

  #risk-form input {
    margin-left: -1em;
  }
}

/* PAYWALL */

.paywall-up {
  position: absolute;
  right: 0;
  top: -30rem;
  height: 0;
  opacity: 0;
}

.paywall {
  position: absolute;
  top: 0rem;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.499);
  z-index: 10000;
  padding: 0;
  display: flex;
  text-align: center;
  backdrop-filter: blur(8px);
  transition: all 1s ease-in-out;
  opacity: 1;
}

.paywallInner {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.209);
  height: 14rem;
  margin: auto auto;
  border-radius: 18px;
  padding: 0.8rem;
  min-width: 360px;
}

.paywall .oval-button-white {
  padding: 0rem .5rem .5rem .5rem;
  line-height: 2;
  border-radius: 50px;
  cursor: pointer;
  transition: transform .1s;
}

.paywall .oval-button-white:hover {
  transform: scale(1.1);
  box-shadow: 0 3px 5px 1px rgba(8, 43, 66, 0.25);
}

#create-checkout-session {
  margin: auto auto;
}

.paywallInner h5 {
  margin: 0 0 1.5rem 0;
  margin: auto auto;
  font-family: 'Montserrat-Medium';
}

.paywallInner h3 {
  line-height: 0.5;
  font-family: 'Montserrat';
}

.paywall-most-inner {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  height: 100%;
}

.paywall-most-inner .two-column-grid {
  border-top: solid 1px lightgrey;
  margin-top: 1rem;
  grid-template-columns: 1.8fr 3fr;
  grid-template-rows: 7rem;
  grid-gap: 0.5rem 1rem;
  margin-bottom: 1rem;
  height: 100%;
}

.divider-right {
  border-right: solid 1px lightgrey;
  height: 100%;
  display: grid;
}

.oval-button-white i {
  position: relative;
  margin: -2.3rem 0 0 0;
  top: .8rem;
  font-size: 46px;
  color: rgb(103,114,229);
}

.paywall-cancel {
  position: absolute;
  color: grey;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

@media (min-width: 40em) {
  .paywall .oval-button-white {
    width: 250px;
  }
}

/* SUCCESS PAGE */

.success-page {
  margin-top: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 95%;
  text-align: center;
  box-shadow: 0 3px 5px 1px rgba(8, 43, 66, 0.25);
  margin-inline: auto;
}

.success-page h1 {
  font-family: 'Montserrat-bold';
  margin: 2rem;
  font-size: 2rem;
}

.success-page .box {
  margin: 2rem 0;
  margin-inline: auto;
  width: 90%;
  padding: 2rem 2rem 0rem 2rem;
  background-color: rgb(247, 246, 246);
}

.success-page .oval-button-white {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.success-page p {
  font-size: 13px;
  padding-bottom: 1rem;
}

.four-o-four {
  padding-top: 2.0rem;
}

@media (min-width: 40em) {
  .success-page {
    max-width: 800px;
  }
  
  .success-page .box {
    max-width: 500px;
  }
}


/* TERMS OF SERVICE */

.terms h3, .terms p {
  text-align: left;
}

.terms h3 {
  font-family: "Montserrat-bold";
}

.terms p {
  font-size: 15px;
  line-height: 1.5;
}