#pannel {
  position: fixed;
  top: 0;
  left: -240px;
  width: 300px;
  height: 100%;
  background-color: #1d2026;
  z-index: 100;
  text-align: left;
  overflow: hidden;
  padding: 2%;
}

.pannel-in {
  -webkit-animation: slide-right 0.5s forwards;
  animation: slide-right 0.5s forwards;
  background-color: #24242492;
  transition: background-color 0.3s 0.4s;
}

.pannel-out {
  -webkit-animation: slide-left 0.5s forwards;
  animation: slide-left 0.5s forwards;
  background-color: transparent;
}

@-webkit-keyframes slide-right {
  100% { left: 0; }
}

@keyframes slide-right {
  100% { left: 0; }
}

@-webkit-keyframes slide-left {
  0% { left: 0; }
}

@keyframes slide-left {
  0% { left: 0; }
}

.pannel-switch {
  color: white;
  position: absolute;
  font-size: 34px;
  right: 10px;
  cursor: pointer;
}

#pannel-name {
  top: 25px;
  position: absolute;
  left: 28px;
  color: red;
  font-weight: 100;
  font-style: italic;
  text-decoration: double;
}

#border-pannel {
  border-bottom: 10px double grey;
  width: 85%;
  margin-top: 40px;
}

#logout {
  position: absolute;
  bottom: 100px;
  left: 20px;
}

#pannel-info {
  margin-top: 20px;
  text-align: left;
}

#risk-form {
  margin: 20px 0;
  text-align: left;
}

#pannel-risk {
  width: 70px;
  margin-right: 10px;
  margin-left: 10px;
}

#user-risk {
  margin-top: 0;
}

#risk-elipse {
  position: fixed;
  margin-left: 11px;
  margin-top: 9px;
}

#elipse {
  border-radius: 47%;
  height: 38px;
  width: 40px;
  position: absolute;
  right: 55px;
  margin-top: -25px;
}

#elipse:hover {
  background-color: grey;
  cursor: pointer;
}

.elipse-open {
  background-color: grey;
  -webkit-animation: slide-open 0.5s forwards;
  animation: slide-open 0.5s forwards;
}

.elipse-close {
  -webkit-animation: slide-close 0.5s forwards;
  animation: slide-close 0.5s forwards;
}

@-webkit-keyframes slide-open {
  100% { width: 110px; }
  100% { border-radius: 15px; }
  100% { padding-left: 30px; }
}

@keyframes slide-open {
  100% { width: 110px; }
  100% { border-radius: 15px; }
  100% { padding-left: 30px; }
}

@-webkit-keyframes slide-close {
  0% { width: 40px; }
}

@keyframes slide-close {
  0% { width: 40px; }
}

#risk-edit {
  margin-top: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#risk-edit:hover {
  color: bisque;
} 